.home {
  
  main {
    border-bottom: 2px dashed @navigation-border;

    @media @mobile {
      margin: 0 20px;
    }
    
    .main-info {
      margin-top: 2.5rem;
    }
  }

  .content-section {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media @mobile {
      margin: 30px 20px;
      .flex-center();
      flex-direction: column;
    }
   
    
    .text-content {
      width: 48%;
      padding-right: 1%;

      @media @mobile {
        width: 100%;
        display: flex;
        flex-direction: column;
      }
    }

    .img-content {
      width: 48%;
      padding-left: 1%;

      img {
        border-radius: 10px;
      }

      @media @mobile {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
      }
    }
  }

  .inverse-content {
    padding-bottom: 30px;
    border-bottom: 2px dashed @navigation-border;

    @media @mobile {
      display: flex;
      flex-direction: column-reverse;
    }

    .text-content {
      padding-left: 1%;
      padding-right: 0;
    }

    .img-content {
      padding-right: 1%;
      padding-left: 0;
    }
  }

  .content-destination {
    width: 75%;
    margin: 0 auto 30px;

    @media @mobile {
      width: 90%;
      margin: 30px;
    }

    img {
      border-radius: 10px;
    }
    
  }

  .content-pick {
    padding-top: 30px;
    border-top: 2px dashed @navigation-border;
    display: flex;
    justify-content: space-between;

    @media @mobile {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 20px;
     
    }

    .destination {
      width: 30%;
      margin-bottom: 30px;
      @media @mobile {
        width: 80%;
        margin: 10px 50px;
      }
    }

    .btn {
      .button(@button-bg, @main-bg);
    }
  }
}// home

